<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public\bower_components\bootstrap\dist\css\bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<h1>Tablero</h1>
<div class="tablero">
    <div class="fila-casilla">
            <body>
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>

        <div class="fila-casilla">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>

        <div class="fila-casilla">
                <div class="casilla-blanca-izq"></div>
                <div class="casilla-negra-der"></div>
                <div class="casilla-blanca-der"></div>
                <div class="casilla-negra-der"></div>
                <div class="casilla-blanca-der"></div>
                <div class="casilla-negra-der"></div>
                <div class="casilla-blanca-der"></div>
                <div class="casilla-negra-der"></div>
        </div>
        
        <div class="fila-casilla">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        
        <div class="fila-casilla">     
                <div class="casilla-blanca-izq"></div>
                <div class="casilla-negra-der"></div>
                <div class="casilla-blanca-der"></div>
                <div class="casilla-negra-der"></div>
                <div class="casilla-blanca-der"></div>
                <div class="casilla-negra-der"></div>
                <div class="casilla-blanca-der"></div>
                <div class="casilla-negra-der"></div>
        </div>
        
        <div class="fila-casilla">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
        
        <div class="fila-casilla">
            <div class="casilla-blanca-izq"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
        </div>
        
        <div class="fila-casilla">
            <div class="casilla-negra-izq"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
            <div class="casilla-negra-der"></div>
            <div class="casilla-blanca-der"></div>
        </div>
    </div>

    <div class="boton">
        <button class="btn btn-primary btn-lg">
            Boton
        </button>
    </div>
</body>
<footer>
    <h3>
            Creado por Oscar Merino - 06-06-19
    </h3>
</footer>
</html>